@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poiret+One&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  background-color: steelblue;
  color: #fff;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 40px 40px;
  border-radius: 5px;
}

.title {
  font-size: 30px;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.form__button {
  margin: 0px 0px 45px 0px;
}
.form__button button {
  display: inline-block;
  width: 100%;
  background-color: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border-radius: 5px;
}
.form__button:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
.form__text {
  display: inline-block;
}
.form__text a {
  color: lightblue;
}

.input {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}
.input input {
  width: 100%;
  background-color: transparent;
  border-bottom: 2px solid white;
  display: block;
  padding: 15px 0;
  font-size: 18px;
  color: white;
}
.input input:focus, .input input:valid {
  border-bottom-color: lightblue;
}
.input input:focus + label span, .input input:valid + label span {
  color: lightblue;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
}
.input label {
  position: absolute;
  top: 15px;
  left: 0;
}
.input label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  -webkit-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}